
<ion-view title="{{ 'MENU_ABOUT' | translate }}">
	<ion-nav-bar class="bar-stable">
		<ion-nav-buttons side="left">
    	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>		
  	</ion-nav-buttons>
	</ion-nav-bar>
		
  <ion-content has-subheader="true">
		<div class="text-center">OpenSlides ist ein freies, webbasiertes Präsentations- und Versammlungssystem zur Darstellung und Steuerung von Tagesordnung, Anträgen und Wahlen einer Veranstaltung.</div>
	</ion-content>
</ion-view>
