
<ion-view title="{{ 'MENU_AGENDA' | translate }}">
	<ion-nav-bar class="bar-stable">
		<ion-nav-buttons side="left">
    	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>		
  	</ion-nav-buttons>
	</ion-nav-bar>
		
  <ion-content has-subheader="true">
		<div class="row responsive-sm">				 
			<div class="col text-right">Dauer: 6.30 h</div>
		</div>
		<div class="row responsive-sm">				 
			<div class="col">&nbsp;</div>
		</div>		
		<div class="row responsive-sm">				 
			<div class="col">TOP 1 - Begrüßung</div>
			<div class="col text-right">0.05 h</div>
		</div>
		
		<div class="row responsive-sm">				 
			<div class="col">TOP 2 - Regularia</div>
			<div class="col text-right">0.10 h</div>
		</div>

		<div class="row responsive-sm">				 
			<div class="col">TOP 3 - Grußworte</div>
			<div class="col text-right">0.15 h</div>
		</div>

		<div class="row responsive-sm">				 
			<div class="col">TOP 4 - Berichte</div>
		</div>

		<div class="row responsive-sm">				 
			<div class="col col-offset-10">TOP 4.1 -Bericht des Vorstands</div>
			<div class="col text-right">0.30 h</div>
		</div>

		<div class="row responsive-sm">				 
			<div class="col col-offset-10">TOP 4.1.1 - Entlastung des Vorstandes (Antrag)</div>
		</div>

		<div class="row responsive-sm">				 
			<div class="col">[Pause]</div>
			<div class="col text-right">0.15 h</div>
		</div>

		<div class="row responsive-sm">				 
			<div class="col">TOP 5 - Anträge</div>
			<div class="col text-right">2.00 h</div>
		</div>

		<div class="row responsive-sm">				 
			<div class="col">[Mittagspause]</div>
			<div class="col text-right">1.00 h</div>
		</div>

		<div class="row responsive-sm">				 
			<div class="col">TOP 6 - Wahlen</div>
			<div class="col text-right">2.00 h</div>
		</div>
		
		<div class="row responsive-sm">				 
			<div class="col col-offset-10">TOP 6.1 - Vorstand (Wahl)</div>
		</div>

		<div class="row responsive-sm">				 
			<div class="col">TOP 7 - Sonstiges</div>
			<div class="col text-right">0.15 h</div>
		</div>
		
	</ion-content>
</ion-view>
