
<ion-view title="{{ 'MENU_FILES' | translate }}">
  
	<ion-nav-bar class="bar-stable">
		<ion-nav-buttons side="left">
    	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>		
  	</ion-nav-buttons>
	</ion-nav-bar>
	
	<ion-header-bar class="bar bar-subheader item-input-inset">
			<ion-search placeholder="{{ 'FILE_SEARCH' | translate }}" filter="search"></ion-search>
	</ion-header-bar> 
	
  <ion-content has-subheader="true">
		<ion-refresher 
			pulling-text="{{ 'APP_PULL_TO_REFRESH' | translate }}" 
			on-refresh="vm.doRefresh()">
		</ion-refresher>

				 <div class="item row responsive-sm" ng-repeat="file in vm.files | filter:search.value">				 
				   <div class="col col-40 item-text-wrap"><h2>{{file.title}}</h2></div>
				   <div class="col col-20 item-text-wrap"><small>{{file.type}}</small></div>
				   <div class="col col-40 item-text-wrap"><small>{{file.uploader}}</small></div>
					 <!--button on-touch="vm.openUrl('http://www.spiegel.de')" class="button">Test</button-->					 
					 <button on-touch="vm.openUrl('http://hamburg.gruene.de/sites/default/files/Wahlprogramm_Buescha2015_WEB.pdf')" class="button">Test</button>
					 <button on-touch="vm.openUrl('https://docs.google.com/gview?embedded=true&url=http://hamburg.gruene.de/sites/default/files/Wahlprogramm_Buescha2015_WEB.pdf')" class="button">Test</button>
				 </div>
		</div>
  </ion-content>
</ion-view>
