<ion-view view-title="{{ 'MENU_LOGIN' | translate }}">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

	<ion-content class="has-header">
		<div class="list list-inset">
			<label class="item item-input">
				<input type="text" placeholder="{{ 'LOGIN_USERNAME' | translate }}" ng-model="data.username">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="{{ 'LOGIN_PASSWORD' | translate }}" ng-model="data.password">
			</label>
		</div>
		<button class="button button-block button-stable" ng-click="login()">{{ 'MENU_LOGIN' | translate }}</button>	
	</ion-content>
	
</ion-view>
	